# === VARIÁVEIS DO BANCO DE DADOS (POSTGRESQL) ===
# Se for rodar via Docker Compose, o host deve ser "postgres" (nome do service).
# Se for rodar localmente via npm run start:dev, mude para "localhost".
POSTGRES_USER="db_user"
POSTGRES_PASSWORD="db_password"
POSTGRES_DB="db_name"


DATABASE_URL="postgresql://db_user:db_password@postgres:5432/db_name?schema=public"


# === VARIÁVEIS DA APLICAÇÃO (API) ===
# A porta em que o servidor irá responder
PORT=4000
